<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Copyright (c) Meta Platforms, Inc. and affiliates.
  ~
  ~ This source code is licensed under the MIT license found in the
  ~ LICENSE file in the root directory of this source tree.
  -->

<Configuration status="info" monitorInterval="30">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <JsonLayout>
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}"/>
                <compact>true</compact>
                <eventEol>true</eventEol>
                <includeTimeMillis>true</includeTimeMillis>
            </JsonLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" level="info"/>
        </Root>
    </Loggers>
</Configuration>
